.container {
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0 0 20px 5px rgb(191, 215, 215);
}

#display {
    text-align: right;
    height: 70px;
    padding: 16px 8px;
    font-size: 25px;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 1px solid lightgrey;
   
}

.button{
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    line-height: 100px;
    border: 0.5px solid lightgray;
    border-radius: 70px/50%;
    margin: 10px;
}
.button:hover{
    background-color: rgb(163, 152, 152, 0.4);
    color: black;
}
#equal{
    background-color: lightgreen;
    color: black;
}
#equal:hover{
    background-color: rgb(130, 193, 130);
    color: black;
}